<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @programminglanguage.name %>
</p>

<%= link_to 'Edit', edit_programminglanguage_path(@programminglanguage) %> |
<%= link_to 'Back', programminglanguages_path %>
